aws_region          = "us-east-1"
project_name        = "solar-system"
environment         = "production"
cluster_name        = "solar-system-eks"
cluster_version     = "1.29"
ecr_repository_name = "solar-system"

vpc_cidr        = "10.0.0.0/16"
public_subnets  = ["10.0.101.0/24", "10.0.102.0/24"]
private_subnets = ["10.0.1.0/24", "10.0.2.0/24"]

node_desired_size   = 2
node_min_size       = 1
node_max_size       = 3
node_instance_types = ["t3.medium"]
